<!DOCTYPE html>
<html 
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/leafframe}">
<head>
<meta charset="UTF-8">
<title>내가 작성한 글</title>
<!-- 게시판 목록 css -->
<link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<th:block layout:fragment="content">
	<!--메인부분 -->
<div class="container" style="margin-top:100px">
	<div class="row">
		<th:block th:replace="/layout/sidebar :: sidebarfragment"></th:block>
    	<div class="col-9" style="margin-top: 20px">
		<div class="card shadow">
			<div class="card-body">
				<h4 class="card-title">내가 작성한 글</h4>
				<div class="row">
					<table class="table table-hover" id='article_list'>
						<thead>
							<tr>
								<th class="text-center d-none d-md-table-cell">글번호</th>
								<th class="w-50">제목</th>
								<th class="text-center d-none d-md-table-cell">작성자</th>
								<th class="text-center d-none d-md-table-cell">작성날짜</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="list : ${mylist}">
								<td class="text-center d-none d-md-table-cell">[[${list.id}]]</td>
								<td>
									<a th:if=" ${list.fileGroupId=='Y'} or ${list.fileGroupId =='N'}" th:href="@{'/page/notice/detail/'+${list.id}}">
										[[${list.boardTitle}]]
									</a>
									<a th:unless=" ${list.fileGroupId=='Y'} or ${list.fileGroupId =='N'}" th:href="@{'/page/board/detail/'+${list.id}}">
										[[${list.boardTitle}]]
									</a>
								</td>
								<th class="text-center d-none d-md-table-cell">[[${list.boardAuthor}]]</th>
								<td class="text-center d-none d-md-table-cell">[[${#temporals.format(list.createdTime,'yyyy-MM-dd')}]]</td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(mylist)}">
								<td>조회된 게시글이 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
				<a th:href="@{/page/main/main}" class="btn btn-primary" style="margin-top: 5px; margin-left: 16px;">메인</a>
				</div>
			</div>
		</div>	
	</div>
</div>
<script type="text/javascript" th:src="@{/js/wish/wishlist.js}"></script>
</th:block>
</body>
</html>