<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment = "sidebarfragment">
<!-- 사이드바 부분 -->
<div class="col-sm-3 bd-sidebar">
	<div class="panel panel-info">
 		<div class="panel-heading">
      		<h3 class="panel-title">[[${#authentication.name}]]님</h3>
    	</div>
    	<input type="hidden" id="user_id" th:value="${#authentication.name}">
			<ul class="list-group">
				<li class="list-group-item">
			    	<a th:href="@{'/page/mypage/page/'+${#authentication.name}}">찜한 리스트</a>
			    </li>
			    <li class="list-group-item" sec:authorize="hasRole('ROLE_USER')">
			      	<a th:href="@{'/page/login/membermodify/'+${#authentication.name}}">회원정보 수정</a>
			    </li>
			    <li class="list-group-item">
			      	<a th:href="@{'/page/mypage/contents/'+${#authentication.name}}">내가 쓴 글</a>
			    </li>
				<li class="list-group-item">
					<a th:href="@{'/page/mypage/comment/'+${#authentication.name}}">내가 쓴 댓글</a>
				</li>
				<li class="list-group-item">
					<a th:href="@{'/page/mypage/nearplace'}">가까운 가게</a>
				</li>
			    <li class="list-group-item" sec:authorize="hasRole('ROLE_USER')">
			    	<span onclick="memberDelete()">회원탈퇴</span>
			    </li>
			</ul>
	</div>
    <br>
</div>
</th:block>
</html>