<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
layout:decorate="~{layout/leafframe}">
<head>
<meta charset="UTF-8">
<title>자유게시판 글조회</title>
</head>
<body>
<th:block layout:fragment="content">
<div class="container" style="margin-top:100px">
	<div class="row">
		<div class="col-sm-12">
			<h1>게시글 열람</h1>
			<div id="favoriteCount">
			</div>
			<i class="fa-sharp fa-solid fa-eye">[[${detail.readCount}]]</i>
			<div class="card shadow">
				<div class="card-body">
					<input type="hidden" id="board_id" name="id" th:value="${detail.id}">
					<input type="hidden" id="pwd" name="passWd" th:value="${detail.passWd}">
					<input type="hidden" id="fileGroupId" name="fileGroupId">
					<!--좋아요 횟수 나오는 부분-->
					<div class="form-group">
						<label for="board_subject">제목</label>
						<input type="text" id="board_subject" name="boardTitle" class="form-control" th:value="${detail.boardTitle}" disabled="disabled"/>
					</div>
					<div class="form-group">
						<label for="board_writer">작성자</label>
						<input type="text" id="board_writer" name="boardAuthor" class="form-control" th:value="${detail.boardAuthor}" disabled="disabled"/>
					</div>
					<div class="form-group">
						<label for="board_date">작성날짜</label>
						<input type="text" id="board_date" name="createdAt" class="form-control" th:value="${detail.createdTime}" disabled="disabled"/>
					</div>                                           
					<div class="form-group">
						<label for="board_content">내용</label>
						<p id="board_content" th:utext="${detail.boardContents}"></p>
					</div>
					<div class="form-group">
						<button id ="like_plus" name="liked" class="btn btn-primary" onclick="boardLike()">좋아요</button>
						<button id ="like_minus" name="liked" class="btn btn-primary" onclick="likeCancel()">좋아요 취소</button>
					</div>
					<div class="form-group">
						<label>첨부 파일</label>
						<!-- 첨부파일 -->
						<th:block th:each="attachfiles:${file}">
							</br>
							<a th:href="@{'/api/file/download/'+${attachfiles.originFileName}}">
								<span id="files" name="originName">[[${attachfiles.originFileName}]]</span>
							</a>
						</th:block>
						<th:block th:unless="${not #lists.isEmpty(file)}">
							</br>
							첨부 파일이 없습니다.
						</th:block>
					</div>
					<div class="form-group">
						<div class="text-right">
							<a href="/page/board/list" class="btn btn-primary">목록보기</a>
							<a class="btn btn-primary" onclick="pwdCheck()">수정하기</a>
						</div>
					</div>
				</div>
				<!-- Comments section-->
				<div class="card mb-2">
					<div class="card-header bg-light">
	        			<i class="fa fa-comment fa"></i> REPLY
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
						    <li class="list-group-item">
								<input type="hidden" class="form-control ml-2" id="writer" name="replyWriter"  th:value="${#authentication.name}">
								<textarea class="form-control" id="contents" name ="replyContents" rows="3"></textarea>
								<button type="button" class="btn btn-dark mt-3" onClick="replyWrite();" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">댓글 작성</button>
						    </li>
						</ul>
					</div>
				</div>
				<!-- Commentlist start -->
				<div id="replylist"></div> 
				<!-- Comment end -->
			</div>
		</div>
	</div>
</div>
<script  th:src="@{/js/board/boarddetail.js}"></script>
<script th:src="@{/js/reply/boardreply.js}"></script>
</th:block>
</body>
</html>