<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/leafframe}">
<head>
    <meta charset="UTF-8">
    <title>회원 아이디 및 비밀번호 찾기</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container" style="margin-top:100px">
        <div class="row">
            <div class="col-sm-6">
                <div class="card shadow">
                    <div class="card-header">
                        회원 비밀번호 찾기
                    </div>
                    <div class="card-body">
                        <h3>비밀번호 재수정</h3>
                        <form action="" method="post" id="updatePw">
                            <div class="form-group">
                                <label for="user_id">회원아이디</label>
                                <input type="text" id="user_id" name="userId" class="form-control"/>
                                <label for="user_pw">비밀번호</label>
                                <input type="password" id="user_pw" name="userPw" class="form-control"/>
                                <label for="user_pwcheck">비밀번호 확인</label>
                                <input type="password" id="user_pwcheck" class="form-control"onchange="pwdCheck()"/>
                                <!-- 확인창 -->
                                <div id="pwdcheck"></div>
                            </div>
                            <div class="form-group text-right">
                                <button type="button" class="btn btn-primary" onclick="temporaryPassword()">비밀번호 재수정</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //유효성검사o.k
        function validation(){

            let tpw = document.getElementById('user_pwcheck').value;
            let pw = document.getElementById('user_pw').value;

            if(tpw.trim().length === 0){
                alert('임시번호를 입력해 주세요.');
                return false;
            }

            if(pw.trim().length === 0){
                alert('비밀번호를 입력해주세요.');
                return false;
            }
            return true;
        }

        //비밀번호 확인o.k
        function pwdCheck(){
            let pw = document.getElementById('user_pw').value;
            let pwCheck = document.getElementById('user_pwcheck').value;

            console.log(pw);
            console.log(pwcheck);

            if(pw === pwCheck){
                document.getElementById('pwdcheck').innerHTML="비밀번호가 일치합니다.";
                document.getElementById('pwdcheck').style.color='blue';
            }else{
                document.getElementById('pwdcheck').innerHTML="비밀번호가 일치하지 않습니다.";
                document.getElementById('pwdcheck').style.color='red';
            }
        }

        //비밀번호 재수정기능o.k
        function temporaryPassword(){
            //유효성검사후 비밀번호 수정재 수정.
            if(validation()){

                let pw = document.getElementById('user_pw').value;
                let id = document.getElementById('user_id').value;

                const date = {
                    userPw : pw,
                    userId : id
                }

                $.ajax({
                    url:'/api/login/password/'+id,
                    type:'patch',
                    dataType:'json',
                    data:JSON.stringify(date),
                    contentType:'application/json; charset=UTF-8'
                }).done(function(data){
                    console.log(data);
                    alert('비밀번호가 수정이 되었습니다.');
                    location.href='/page/main/main';
                });
            }
        }
    </script>
    </th:block>
</body>
</html>