<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/leafframe}" lang="kr">
<head>
<meta charset="UTF-8">
<title>가게 등록 페이지</title>
<!-- kakaoMap -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6ed9da504d6672f3b0d883fa91a2687a"></script>
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- jquery ui -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--fontawesome CDN-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- Daum post api -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
</head>
<body>
<th:block layout:fragment="content">
<div class="container" style="margin-top:100px">
	<div class="row">
		<div class="col-sm-12">
			<h1>가게 등록</h1>
			<div class="card shadow">
				<div class="card-body">
					<form action="" enctype="multipart/form-data">
					<input type="hidden" id="fileGroupId" name="fileGroupId" th:value="${fileGroupId}">
					<div class="form-group">
						<label for="place_name">가게명</label>
						<input type="text" id="place_name" name="placeName" class="form-control"/>
					</div>
					<div id="valid_placeName"></div>
					<div class="row">
						<div class="col">
							<label for="place_lat">경도</label>
							<input type="text" id="place_lat" name="placeLat" class="form-control"/>
						</div>
						<div id="valid_placeLat"></div>
						<div class="col">
							<label for="place_lng">위도</label>
							<input type="text" id="place_lng" name="placeLng" class="form-control"/>
						</div>
						<div id="valid_placeLng"></div>
					</div>
					<div class="form-group">
						<label for="place_addr1" style="display: block;">주소</label>
						<input class="form-control" style="width: 70%; display: inline;" placeholder="도로명 주소" name="placeAddr1" id="place_addr1" type="text" readonly="readonly">
						<button type="button" class="btn btn-default" onclick="AddressCode();">
						<i class="fa fa-search"></i> 주소찾기</button>
					</div>
					<div class="form-group">
							<input class="form-control" style="top: 5px;" placeholder="상세 주소" name="placeAddr2" id="place_addr2" type="text" required="required"/>
					</div>
					<div id="valid_placeAddr1"></div>
					<div class="form-group">
						<label for="place_phone">가게 전화번호</label>
						<input type="text" id="place_phone" name="placePhone" class="form-control"/>
					</div>
					<div id="valid_placePhone"></div>
					<div class="form-group">
						<label for="place_start">영업 시작시간</label>
						<input type="text" id="place_start" name="placeStart" class="form-control" placeholder="운영시작시간"/>
						<label for="place_close">영업 종료시간</label>
						<input type="text" id="place_close" name="placeClose" class="form-control" placeholder="운영종료시간"/>
					</div>
					<div id="valid_placeStart"></div>
					<div id="valid_placeClose"></div>
					<div class="form-group">
						<label for="btnAtt">첨부 이미지</label>
						<div id='image_preview'>
						    <input type='file' id='btnAtt' name="file" multiple='multiple' />
						    <div id='att_zone'></div>
						</div>
					</div>
					<div id="valid_file"></div>
					<div class="form-group">
						<div class="text-right">
							<a href="/page/place/placelist" class="btn btn-primary">목록</a>
							<button type="button" class="btn btn-primary" onclick="placeRegister()">가게등록하기</button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
let file = document.getElementById('fileGroupId').value;
console.log(file);

//주소찾기o.k
function AddressCode(){
	new daum.Postcode({
        oncomplete: function(data) {
            //주소
        	var addr = ''+extraName;
            var extraName = '';
          	
         	//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraName += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraName += (extraName !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraName !== ''){
                    extraName = ' (' + extraName + ')';
                }
                 // 조합된 참고항목을 해당 필드에 넣는다.
                 document.getElementById("place_addr1").value = extraName;
            } else {
                 document.getElementById("place_addr1").value = '';
            }

         	document.getElementById("place_addr1").value = addr;
         	console.log(addr);
        }
    }).open();	
}

//가게 등록기능.
function placeRegister(){
	
	let placename = document.getElementById('place_name').value;
	let placelat = document.getElementById('place_lat').value;
	let placelng = document.getElementById('place_lng').value;
	let placeaddr = document.getElementById('place_addr1').value;
	let placeaddr2 = document.getElementById('place_addr2').value;
	let placephone = document.getElementById('place_phone').value;
	let placestart = document.getElementById('place_start').value;
	let placeclose = document.getElementById('place_close').value;
	let filegroupid = document.getElementById('fileGroupId').value;
	
	const formdate = new FormData();
	//폼데이터
	formdate.append("placeName",placename);
	formdate.append("placeLat",placelat);
	formdate.append("placeLng",placelng);
	formdate.append("placeAddr1",placeaddr);
	formdate.append("placeAddr2",placeaddr2);
	formdate.append("placePhone",placephone);
	formdate.append("placeStart",placestart);
	formdate.append("placeClose",placeclose);
	formdate.append("fileGroupId",filegroupid);
	//이미지.
	var images = $("input[type='file']");
	
	var files = images[0].files;
	
	for(var i = 0;i<files.length;i++){
		console.log(files[i]);
		formdate.append("file",files[i]);
	}
	
	//가게 등록 기능o.k
	$.ajax({
		url:'/api/place/placeregister',
		type:'post',
		dataType:'json',
		data: formdate,
		processData: false,
		contentType : false,
		cache:false,
		enctype: 'multipart/form-data',
	}).done(function(data){
		
		if(data.status == 200){
			alert("가게가 등록이 되었습니다.");
			location.href="/page/admin/adminlist";	
		}
		
		if(data.status == 400){
			if(resp.data.hasOwnProperty('valid_placeName')){
				$('#valid_placeName').text(resp.data.valid_placeName).css('color','red');
			}else{
				$('#valid_placeName').text('');
			}
			if(resp.data.hasOwnProperty('valid_placeLat')){
				$('#valid_placeLat').text(resp.data.valid_placeLat).css('color','red');
			}else{
				$('#valid_placeLat').text('');
			}
			if(resp.data.hasOwnProperty('valid_placeLng')){
				$('#valid_placeLng').text(resp.data.valid_placeLng).css('color','red');
			}else{
				$('#valid_placeLng').text('');
			}
			if(resp.data.hasOwnProperty('valid_placeAddr1')){
				$('#valid_placeAddr1').text(resp.data.valid_placeAddr1).css('color','red');
			}else{
				$('#valid_placeAddr1').text('');
			}
			if(resp.data.hasOwnProperty('valid_placeStart')){
				$('#valid_placeStart').text(resp.data.valid_placeStart).css('color','red');
			}else{
				$('#valid_placeStart').text('');
			}
			if(resp.data.hasOwnProperty('valid_placeClose')){
				$('#valid_placeClose').text(resp.data.valid_placeClose).css('color','red');
			}else{
				$('#valid_placeClose').text('');
			}
		}
	});
}

( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
		  imageView = function imageView(att_zone, btnAtt) {

			  var attZone = document.getElementById(att_zone);
			  var btnAtt = document.getElementById(btnAtt)
			  var sel_files = [];

			  // 이미지와 체크 박스를 감싸고 있는 div 속성
			  var div_style = 'display:inline-block;position:relative;'
					  + 'width:150px;height:120px;margin:5px;border:1px solid #00f;z-index:1';
			  // 미리보기 이미지 속성
			  var img_style = 'width:100%;height:100%;z-index:none';
			  // 이미지안에 표시되는 체크박스의 속성
			  var chk_style = 'width:30px;height:30px;position:absolute;font-size:24px;'
					  + 'right:0px;bottom:0px;z-index:999;background-color:rgba(255,255,255,0.1);color:#f00';

			  btnAtt.onchange = function (e) {
				  //파일 정보를 가져온다.
				  var files = e.target.files;
				  var fileArr = Array.prototype.slice.call(files)

				  //이미지 유효성 검사.
				  if (files.length >= 6) {
					  alert("이미지는 6장까지 입니다.");
					  console.log(files);
					  return;
				  }

				  for (f of fileArr) {
					  //파일 배열만큼 이미지 미리보기
					  imageLoader(f);
				  }
			  }

			  // 탐색기에서 드래그앤 드롭 사용
			  attZone.addEventListener('dragenter', function (e) {
				  e.preventDefault();
				  e.stopPropagation();
			  }, false)

			  attZone.addEventListener('dragover', function (e) {
				  e.preventDefault();
				  e.stopPropagation();

			  }, false)

			  attZone.addEventListener('drop', function (e) {
				  var files = {};
				  e.preventDefault();
				  e.stopPropagation();
				  var dt = e.dataTransfer;
				  files = dt.files;

				  for (f of files) {

					  imageLoader(f);
				  }

			  }, false)

			  /*첨부된 이미지를 배열에 넣고 미리보기 */
			  imageLoader = function (file) {
				  if (sel_files.length >= 6) {
					  alert('드래그는 6장까지 입니다.');
					  return;
				  }
				  sel_files.push(file);
				  var reader = new FileReader();
				  reader.onload = function (ee) {
					  let img = document.createElement('img')
					  img.setAttribute('style', img_style)
					  img.src = ee.target.result;
					  attZone.appendChild(makeDiv(img, file));
				  }
				  reader.readAsDataURL(file);
			  }

			  /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
			  makeDiv = function (img, file) {
				  var div = document.createElement('div')
				  div.setAttribute('style', div_style)

				  var btn = document.createElement('input')
				  btn.setAttribute('type', 'button')
				  btn.setAttribute('value', 'x')
				  btn.setAttribute('delFile', file.name);
				  btn.setAttribute('style', chk_style);
				  btn.onclick = function (ev) {
					  var ele = ev.srcElement;
					  var delFile = ele.getAttribute('delFile');

					  for (var i = 0; i < sel_files.length; i++) {
						  if (delFile == sel_files[i].name) {
							  sel_files.splice(i, 1);
						  }
					  }

					  dt = new DataTransfer();
					  for (f in sel_files) {
						  var file = sel_files[f];
						  dt.items.add(file);
					  }
					  btnAtt.files = dt.files;
					  var p = ele.parentNode;
					  attZone.removeChild(p)
				  }
				  div.appendChild(img)
				  div.appendChild(btn)
				  return div
			  }
		  }
		)('att_zone', 'btnAtt')
</script>
</th:block>
</body>
</html>