<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/leafframe}" lang="kr">
<head>
<meta charset="UTF-8">
<title>가게 등록 페이지</title>
</head>
<body>
<th:block layout:fragment="content">
<div class="container" style="margin-top:100px">
	<div class="row">
		<div class="col-sm-12">
			<h1>가게 등록</h1>
			<div class="card shadow">
				<div class="card-body">
					<form action="" enctype="multipart/form-data">
					<input type="hidden" id="fileGroupId" name="fileGroupId" th:value="${fileGroupId}">
					<div class="form-group">
						<label for="place_name">가게명</label>
						<input type="text" id="place_name" name="placeName" class="form-control"/>
					</div>
					<div id="valid_placeName"></div>
					<div class="row">
						<div class="col">
							<label for="place_lat">경도</label>
							<input type="text" id="place_lat" name="placeLat" class="form-control"/>
						</div>
						<div id="valid_placeLat"></div>
						<div class="col">
							<label for="place_lng">위도</label>
							<input type="text" id="place_lng" name="placeLng" class="form-control"/>
						</div>
						<div id="valid_placeLng"></div>
					</div>
					<div class="form-group">
						<label for="place_addr1" style="display: block;">주소</label>
						<input class="form-control" style="width: 70%; display: inline;" placeholder="도로명 주소" name="placeAddr1" id="place_addr1" type="text" readonly="readonly">
						<button type="button" class="btn btn-default" onclick="AddressCode();">
						<i class="fa fa-search"></i> 주소찾기</button>
					</div>
					<div class="form-group">
							<input class="form-control" style="top: 5px;" placeholder="상세 주소" name="placeAddr2" id="place_addr2" type="text" required="required"/>
					</div>
					<div id="valid_placeAddr1"></div>
					<div class="form-group">
						<label for="place_phone">가게 전화번호</label>
						<input type="text" id="place_phone" name="placePhone" class="form-control"/>
					</div>
					<div id="valid_placePhone"></div>
					<div class="form-group">
						<label for="place_start">영업 시작시간</label>
						<input type="text" id="place_start" name="placeStart" class="form-control" placeholder="운영시작시간"/>
						<label for="place_close">영업 종료시간</label>
						<input type="text" id="place_close" name="placeClose" class="form-control" placeholder="운영종료시간"/>
					</div>
					<div id="valid_placeStart"></div>
					<div id="valid_placeClose"></div>
					<div class="form-group">
						<label for="btnAtt">첨부 이미지</label>
						<div id='image_preview'>
						    <input type='file' id='btnAtt' name="file" multiple='multiple' />
						    <div id='att_zone'></div>
						</div>
					</div>
					<div id="valid_file"></div>
					<div class="form-group">
						<div class="text-right">
							<a href="/page/place/list" class="btn btn-primary">목록</a>
							<button type="button" class="btn btn-primary" onclick="placeRegister()">가게등록하기</button>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" th:src="@{/js/place/placeregister.js}"></script>
</th:block>
</body>
</html>